<ul class="pro-add-info">
  <li class="iconli"><img src="{{'find-my-size.webp' | asset_url}}"> <a class="popup-modal-ts" href="#" data-action="open-modal" aria-controls="modal-size-chart"><span>FIND MIT STØRRELSE</span></a> </li>
  <li class="iconli"><span class="mysize"></span></li>
</ul>
