<div id="codehouse-customizer">
  <div class="navbar">
    <div class="navbar-inner">
      <ul>
        <li><a href="#weight" data-toggle="tab">Hvor meget vejer du?</a></li>
        <li><a href="#height" data-toggle="tab">Hvad er din højde?</a></li>
        <li><a href="#shape" data-toggle="tab">Maveform?</a></li>
        <li><a href="#result" data-toggle="tab">Resultat</a></li>
      </ul>
    </div>
  </div>
  <div id="bar" class="progress progress-striped active">
    <div class="progress-bar"></div>
  </div>
  <div class="tab-content">
    <div class="tab-pane" id="weight">
      <input type="text" placeholder="kg" class="input-type-weight" id="input-type-weight" autofocus="" maxlength="3" data-findsize="true">
    </div>
    <div class="tab-pane" id="height">
      <input type="text" placeholder="centimeters" class="input-type-height" id="input-type-height" autofocus="" maxlength="3" data-findsize="true">
    </div>
    <div class="tab-pane" id="shape">
      <div class="swatch-container" belly-main-type="Flatter">
        <label class="switch-BS">
          <input class="input-type-shape" type="radio" name="shape" style="display: none;" value="Smigre" data-findsize="true">
          <img src="{{'flatter.png' | asset_url}}">
          <p class="title">Smigre</p>
        </label>
      </div>
      <div class="swatch-container" belly-main-type="Average">
        <label class="switch-BS">
          <input class="input-type-shape" type="radio" name="shape" style="display: none;" value="Gennemsnit / Jeg ved det ikke" data-findsize="true">
          <img src="{{'average.png' | asset_url}}">
          <p class="title">Gennemsnit / Jeg ved det ikke</p>
        </label>
      </div>
      <div class="swatch-container" belly-main-type="Rounder">
        <label class="switch-BS">
          <input class="input-type-shape" type="radio" name="shape" style="display: none;" value="Rundere" data-findsize="true">
          <img src="{{'rounder.png' | asset_url}}">
          <p class="title">Rundere</p>
        </label>
      </div>
    </div>
    <div class="tab-pane" id="result">
      <div class="result">
        <p class="success-msg">Str 44</p>
        <p class="error-msg">Desværre har vi ikke din størrelse på lager.</p>
      </div>
    </div>
    <div class="navbuttons">
      <div class="next"><input type="button" class="btn button-next" name="next" value="Next" /></div>
      <div class="previous"><input type="button" class="btn button-previous" name="previous" value="Previous" /></div>
    </div>
  </div>
</div>
<style>
  ul.pro-add-info {
    display: flex;
    flex-wrap: wrap;
}
.pro-add-info li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 30px;
}
ul.pro-add-info {
    display: flex;
    flex-wrap: wrap;
}
.pro-add-info {
    margin-top: 20px;
}
.pro-add-info a, .pro-add-info span {
    margin: 5px;
    vertical-align: middle;
}
.pro-add-info {
    column-count: 2;
}
.pro-sub-info {
    font-size: 10px;
    color: #ffffff;
    text-transform: none;
    padding-left: 0px;
    margin-top: 9px;
    margin-top: 9px;
}
ul.pro-add-info a {
    color: #fff;
}
#codehouse-customizer {
    max-width: 780px;margin: 50px auto;
  }
  #codehouse-customizer ul.nav.nav-pills {
    text-align: center;margin: 0;
  }
  #codehouse-customizer ul.nav.nav-pills li {
    display: inline-block;float: none;background: #f5f5f5;padding: 0;margin: 0;border-radius: 5px;
  }
  #codehouse-customizer .navbuttons{
    margin: 20px 0;display: inline-block;width: 100%;
  }
  #codehouse-customizer .progress-bar {
    background-color: #98999a;
  }
  #codehouse-customizer .navbuttons .btn {
    background: #98999a;color: #fff;outline: 0;
  }
  #codehouse-customizer .next{
    float:right;
  }
  #codehouse-customizer .previous{
    float:left;
  }
  #codehouse-customizer ul li a {
    text-decoration: blink;
  }
  #codehouse-customizer ul li:not(.active) a {
    background-color: #353535;text-decoration: blink;
  }
  #codehouse-customizer ul li.active a {
    background-color: #98999a;
  }
  #codehouse-customizer .navbuttons .btn.disabled {
    background: #353535;
    opacity: 1;
  }
  #codehouse-customizer .tab-content input[type=text] {
    background-color: transparent;
    border: unset;
    border-bottom: 1px solid #f4f4f4;
    min-width: 50%;
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
    font-weight: 900;
    margin: 0 auto !important;
    display: block;
  }
  #codehouse-customizer .swatch-container {
    display: block;
    width: 33.3333%;
    float: left;
    padding: 0 20px;
    text-align: center;
  }
  #codehouse-customizer .swatch-container img {
    margin: 5px 0;border: 1px solid #353333;
  }
  #codehouse-customizer .swatch-container .title {
    font-size: 12px;
    display: inline-block;
  }
  #codehouse-customizer .tab-content p {
    text-align: center;padding: 10px 0;
  }
  #codehouse-customizer .swatch-container.active img {
    outline: solid 5px #98999a;
  }
  #codehouse-customizer .success-msg {
    color: #ffffff;
    font-size: 25px;
    background: #086b19;
    border-radius: 12px;
  }
  #codehouse-customizer .error-msg {
    color: #d23323;
    font-size: 19px;
    display: none;
  }
  .progress {
    border-radius: 20px;
  }
</style>
